<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/js/login.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav class="topbar">
        <a href="/viewpost">Forum</a>
        <a href="#trainer">My Trainer</a>
        <a href="/index">Calorie Counter</a>
        <a href= "/meallog">Meal Log</a>
        <a href= "/tdee">Calculator</a>
        <a href="/login" class="active">Log In</a>
        <% if (typeof isLogged !== 'undefined' && isLogged === 1){ %>
            <a href="/logout">Log Out</a>
        <% } %>
    </nav>

    <div class='content'>
        <div style="text-align: center;">
            <img src="weights.png" id="weight-logo"/> 
            <h1 id="name">FITNESS <br> <span id="team"> TEAM </span></h1>
            <p id="description">Login or <a href="register" id="reg">create an account!</a></p>
            <form id="loginForm" action="/login" method="POST">
                <div class="email">
                    <input id="email" type="email" name="email" placeholder="Email" required>
                </div>
                <div class="password">
                    <input id="password" type="password" name="password" placeholder="Password" required>
                </div>
                <br>
                <button> Login </button>
            </form>
        </div>
    </div>
    <div style="text-align: center;">
        <div id="errorContainer" class="hidden message message-error">
            <p id="errorMessage">Error</p>
            <br>
            <button id="closeError" onclick="show()">X</button>
        </div>
    </div>
</body>
</html>