html {
    font-family: "Arial", sans-serif;
    font-size: 30px;
}
body {
    background-color: #f2f2f2;
    margin: 0 auto;
    padding:  0 0px 0px 0px;

}

h3 {
    color:  #cf5f5f;
    margin: 10 auto;
    text-align: left;
}

#meal-description{
    padding: 10px;
    font-size: 24px;
}

button {
    background-color: #cf5f5f; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow:  1px 3px 10px 2px #888888;
  }

#add-meal:hover{
    background-color: #aa260a;

}
input{
    width: 150px;
    height: 20px;
}

.topbar{
    background-color: #333;
    overflow: hidden;
}

.topbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topbar a:hover{
    background-color: #cf5f5f;
}

input {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#mealForm, p,h3{
    margin: auto;
    max-width: 700px;
}