html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
body{
    margin: 0 auto;
    padding:  0 0px 0px 0px;
    
}
.content{
    overflow: auto;
    position: relative;

}
.content::before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    background-image: url("/background.jpg");
    background-size:cover;
    
    width: 100%;
    height: 100%;
}

#weight-logo{
    margin: 70px;
    width: 20%;
    filter: invert(100%) sepia(2%) saturate(710%) hue-rotate(249deg) brightness(120%) contrast(89%);
}

#name{
    margin-top: -50px;
    text-align: center;
    font-size:60px;
    color: #f0f0f0;
    line-height: 60px;
}
#team{
    font-size:80px;
    line-height: 10px;
}

input{
    height: 30px;
    border: none;
}

button {
    background-color: #cf5f5f; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.topbar{
    background-color: #333;
    overflow: hidden;

}

.topbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 2px solid #333;
}

.topbar a:hover{
    border-bottom: 3px solid #cf5f5f;
}  

p{
    font-size:16px;
    text-decoration: none;
}
p, #description{
    color: white;
    line-height: -5;
}

#reg{
    color: white;
}

.topbar .active{
    border-bottom: 3px solid #cf5f5f;
}

a::after{
    transition: width .3s;
}

a:hover::after{
    width:100%;
    transition: width .3s;
}
