button {
    background-color: #cf5f5f; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0 auto;
    padding:  0 0px 0px 0px;
}

.content{
    overflow: auto;
    position: relative;
}

.content::before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/14/09/weight-training-mental-health.jpg?width=990&auto=webp&quality=75');
    background-size:cover;
    
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(10px);
    filter: blur(10px) brightness(50%);
    transform: scale(1.1); 
}

.topbar{
    background-color: #333;
    overflow: hidden;
}

.topbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topbar a:hover{
    background-color: #cf5f5f;
}

p{
    color: white;
}