html {
    font-family: "Arial", sans-serif;
    font-size: 30px;
}
body {
    background-color: #f2f2f2;
    margin: 0 auto;
}

.topbar{
    background-color: #333;
    overflow: hidden;
}

.topbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 2px solid #333;
}

.topbar a:hover{
    border-bottom: 3px solid #cf5f5f;
} 
.topbar .active{
    border-bottom: 3px solid #cf5f5f;
}
.titles{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 100px;
    /* border: 2px solid #111; */
}

.post{
    /* border: 1px solid #111 ;
    border-radius: 2px; */
    height: 100px;
}

#linebreak {
    background-color: red;
}

button {
    background-color: #cf5f5f; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
}