html {
    font-family: "Arial", sans-serif;
    font-size: 30px;
}
body {
    background-color: #f2f2f2;
    
    margin: 0 auto;
    padding:  0 0px 0px 0px;
    border: 5px black;
}

.container{
    width: 80%;
    margin: 80px auto;
}

.video-player{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

video:focus{
    outline: none;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}


.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.small-img .play-btn{
    width: 35px;
}

.col{
    flex-basis: 50%;
    min-width: 250px;
}
.feature-img{
    width:83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

html {
    font-family: "Arial", sans-serif;
    font-size: 30px;
}
body {
    background-color: #f2f2f2;
    
    margin: 0 auto;
    padding:  0 0px 0px 0px;
    border: 5px black;
}

.topbar{
    background-color: #333;
    overflow: hidden;

}

.topbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topbar a:hover{
    background-color: #cf5f5f;
}  